.directions__button {
    max-width: 145px;
    min-width: auto;
    display: flex;
    margin: 0;
    padding: 12px 10px;
    border: 0;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    transition: opacity 1s;
    cursor: pointer;
    text-decoration: none;
    gap: 10px;
    background-color: #FFF;
    color: #333333;
}

.directions__button:hover {
    background-color: #FFF;
    color: #00275C;
  }

.directions__button:active {
    background-color: #FFF;
    color: #0C4BA0;
}

.directions__button:disabled {
    background-color: #FFF;
    color: #C4C4C4;
}
  
@media screen and (max-width: 768px) {
    .directions__button {
        max-width: 120px;
        padding: 10px 12px;
        font-size: 16px;
        line-height: 1.5;
    }
}

@media screen and (max-width: 460px) {
    .directions__button {
        max-width: 108px;
        padding: 10px 14px;
        font-size: 14px;
        line-height: 1.8;
    }
}