.button__text-tablet {
    display: none;
}

@media screen and (max-width: 1000px) {
  .button__text-tablet {
    display: inline-block;
  }
}
 
@media screen and (max-width: 500px) {
  .button__text-tablet {
    display: none;
  }
}