.menu__icon {
  z-index: 5;
  display: flex;
  align-items: center;
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.menu__icon._active::before {
 top: 50%;
 transform: rotate(-45deg) translate(0px, -50%);
}
.menu__icon._active::after {
 bottom: 50%;
 transform: rotate(45deg) translate(0px, 50%);
}

.menu__icon._active span {
  transform: scale(0) translate(0px, -50%);
}
.menu__icon::before,
.menu__icon span,
.menu__icon::after {
  left: 0;
  position: absolute;
  height: 20%;
  width: 100%;
  transition: all .3 ease 0s;
  background-color: black;

}
.menu__icon::after,
.menu__icon::before {
  content: '';
}

.menu__icon::before {
  top: 0;
}
.menu__icon::after {
  bottom: 0;
}
.menu__icon span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}
