.directions__text-container {
    display: flex;
    min-height: 176px;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .directions__text-container {
        min-height: 96px;
        gap: 10px;
    }
}