.stories__foto_double {
  margin: 30.5px 20px 30.5px 30px;
}

@media screen and (max-width: 768px) {
  .stories__foto_double {
    width: 120px;
    height: 120px;
    margin: 25px 16px 25px 20px;
  }
}

@media screen and (max-width: 320px) {
  .stories__foto_double {
    width: 80px;
    height: 80px;
    margin: 16px;
  }
}
