.stories__double-description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 30px 30px 30px 0;
}

@media (min-width: 769px) and (max-width: 1083px) {
  .stories__double-description {
    padding: 0 30px;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .stories__double-description {
    padding: 0 20px 0 0;
    margin: auto 0;
  }
}

@media screen and (max-width: 320px) {
  .stories__double-description {
    margin: auto 0;
    padding: 0 16px 0 0;
  }
}
