@media (min-width: 769px) and (max-width: 10000px) {
  .stories__button-open_active {
    display: none;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .stories__button-open_active {
    padding: 40px auto;
    margin: 40px auto 50px auto;
  }
}
