.donations__btns {
  display: flex;
  gap: 20px;
  width: 100%
}
@media screen and (max-width: 1100px) {
  .donations__btns{
    gap: 10px;
  }
}
@media screen and (max-width: 740px) {
  .donations__btns {
  display: grid;
  gap: 16px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  }
}
