.stories__box-double {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 99px;
}

@media screen and (max-width: 768px) {
  .stories__box-double {
    padding-top: 0;
  }
}

@media screen and (max-width: 681px) {
  .stories__box-double {
    padding-top: 31px;
    flex-direction: column;
  }
}
