.projects__heading {
  width: 100%;
  align-self: start;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #333;
  margin: 0;
  padding-top: 19px;
  grid-area: projects__heading;
}

@media screen and (max-width: 1200px) {
  .projects__heading {
    font-size: 60px;
  }
}

@media screen and (max-width: 1150px) {
  .projects__heading {
    font-size: 56px;
  }
}

@media screen and (max-width: 1096px) {
  .projects__heading {
    font-size: 52px;
    padding-top: 12px;
  }
}

@media screen and (max-width: 768px) {
  .projects__heading {
    font-size: 36px;
  }
}

@media screen and (max-width: 730px) {
  .projects__heading {
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .projects__heading {
    padding-top: 20px;
    font-size: 26px;
    text-align: start;
  }
}
