.stories__zagolovok {
  height: 100%;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
  color: #333;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .stories__zagolovok {
    font-size: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1083px) {
  .stories__zagolovok {
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .stories__zagolovok {
    font-size: 16px;
  }
}
