.for-whom__icon {
    margin: 0;
    padding: 16px;
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    background-size: 32px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .for-whom__icon {
        padding: 12px;
        width: 24px;
        height: 24px;
        background-size: 24px;
    }
}