.stories__double-name-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 11.5px;
}

@media (min-width: 321px) and (max-width: 748px) {
  .stories__double-name-button {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 320px) {
  .stories__double-name-button {
    padding-top: 14px;
  }
}
