.leveler {
  display: flex;
  flex-direction: column;
  max-width: 1360px;
  width: 1360px;
  margin: 0 auto;
}

@media screen and (max-width: 1439px) {
  .leveler {
    width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .leveler {
    width: 300px;
  }
}