@media (min-width: 769px) and (max-width: 1083px) {
  .stories__box-profile_flex {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 769px) and (max-width: 1083px) {
  .stories__box-profile_flex {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 520px) {
  .stories__box-profile_flex {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
