.donations {
  background: #E7F0FF;
  border-radius: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: center;
  box-sizing: border-box;
  padding: 58px 30px 58px 30px;
}

@media screen and (max-width: 990px) {

.donations {
  padding: 36px 24px;
  gap: 10px;
}
}

@media screen and (max-width: 740px) {

.donations {
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr;
  gap: 32px;
}
}
