.stories__title {
  font-style: normal;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  color: #333;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .stories__title {
    font-size: 36px;
  }
}

@media screen and (max-width: 320px) {
  .stories__title {
    font-size: 26px;
  }
}
