.agency__container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-self: center;
  margin: 0 0 50px;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .agency__container {
    margin: 0 0 32px;
  }
}

@media screen and (max-width: 500px) {
  .agency__container {
    gap: 26px;
    margin: 0 0 24px;
  }
}