.menu__link {
 color: #333333;
 font-weight: 700;
font-size: 34px;
line-height: 120%;
text-decoration: none;
cursor: pointer;
}

@media screen and (max-width: 990px) {
.menu__link {
  font-size: 20px;
  }
}
@media screen and (max-width: 740px) {
.menu__link {
  font-size: 18px;
  padding: 0 5px 0 0;
  }
  body._touch .menu__link {
    flex: 1 1 auto;
  }
}
