.advantages__span {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

@media (max-width: 1100px) {
    .advantages__span {
        font-size: 14px;
    }
}