.projects__image {
  width: 555px;
  height: 393px;
  object-fit: cover;
  grid-area: projects__image;
  border-radius: 30px;
}

@media screen and (max-width: 1308px) {
  .projects__image {
    width: 500px;
    margin-left: 27px;
  }
}

@media screen and (max-width: 1177px) {
  .projects__image {
    width: 475px;
  }
}

@media screen and (max-width: 1150px) {
  .projects__image {
    width: 375px;
  }
}

@media screen and (max-width: 1096px) {
  .projects__image {
    width: 350px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .projects__image {
    width: 325px;
  }
}

@media screen and (max-width: 900px) {
  .projects__image {
    width: 300px;
  }
}

@media screen and (max-width: 837px) {
  .projects__image {
    width: 275px;
  }
}

@media screen and (max-width: 807px) {
  .projects__image {
    width: 265px;
  }
}

@media screen and (max-width: 768px) {
  .projects__image {
    width: 259px;
    height: 284px;
  }
}

@media screen and (max-width: 730px) {
  .projects__image {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .projects__image {
    width: 254px;
    height: 180px;
  }
}
