.directions__button-icon {
    display: flex;
    width: 24px;
    height: 24px;
    background-image: url('../../../images/Icon/arrow_forward_black.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
}

.directions__button:hover .directions__button-icon {
    background-image: url('../../../images/Icon/arrow_forward_black_hover.svg');
}

.directions__button:active .directions__button-icon {
    background-image: url('../../../images/Icon/arrow_forward_black_active.svg');
}

.directions__button:disabled .directions__button-icon {
    background-image: url('../../../images/Icon/arrow_forward_black_disabled.svg');
}

@media screen and (max-width: 768px) {
    .directions__button-icon {
        width: 24px;
        height: 24px;
        background-size: 20px;
    }
}
