.card__text-container_news {
  flex-grow: 2;
  margin-bottom: 30px;
}

@media screen and (max-width: 1000px) {
  .card__text-container_news {
    margin: 0 0 20px;
  }
}

@media screen and (max-width: 500px) {
  .card__text-container_news {
    margin: 0 0 18px;
  }
}