.menu__conteiner {
 display: flex;
 align-items: flex-start;
 justify-content: space-between;
 max-width: 1440px;
 margin: auto;

}
@media screen and (max-width: 990px) {
.menu__conteiner {
  flex-wrap: wrap;
}
}

@media screen and (max-width: 740px) {
  .menu__conteiner{
  flex-direction: column;

  }
}
