.numbers__item {
    max-width: 333px;
}

.numbers__item:not(:last-child) {
    margin-bottom: 33px;
}

@media (max-width: 768px) {
    .numbers__item:not(:last-child) {
        margin-bottom: 16px;
    }
}