.header__btn_white {
  background-color: #FFFFFF;
  border: 1px solid #0C4BA0;
  color: #0C4BA0;
}

.header__btn_white:hover {
  background-color: #FFFFFF;
  color: #00275C;
  border-color: #00275C;
  transition: all .4s ease 0s;

}

.header__btn_white:active {
  background-color: #00275C;
  color: #FFFF;
  border-color: #00275C;
  transition: all .2s ease 0s;
}
