.subscribe__header-mobile {
  display: block;
  margin: 0 0 8px 0;
  font-family: "Raleway", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #333333;
  font-size: 16px;
  max-width: 187px;
}
