.telefon__number {
  display: block;
  width: 151px;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #333333;
}

@media (max-width: 900px) {
  .telefon__number {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
  }
}

@media (max-width: 600px) {
  .telefon__number {
    width: 102px;
    font-size: 12px;
  }
}
