.stories__person-button {
  font-style: normal;
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #0C4BA0;
  margin: 12px 14px 12px 10px;
  text-decoration: none;
}

.stories__button-box:hover .stories__person-button {
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .stories__person-button {
    font-size: 16px;
    line-height: 120%;
  }
}

@media screen and (max-width: 320px) {
  .stories__person-button {
    font-size: 14px;
    margin: 13.5px 13.33px 13.5px 10px;
  }
}
