.advantages {
    padding-left: 40px;
    padding-right: 40px;
    color: #333;
    background-color: #fff;
    margin-bottom: 150px;
}

@media (max-width: 1100px) {
    .advantages {
        margin-bottom: 100px;
    }
}

@media (max-width: 500px) {
    .advantages {
        margin-bottom: 64px;
        padding-left: 10px;
        padding-right: 10px;
    }
}