.for-whom__button {
    max-width: 145px;
    min-width: auto;
    display: flex;
    margin: 0;
    padding: 12px 10px;
    border: 0;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    transition: opacity 1s;
    cursor: pointer;
    text-decoration: none;
    gap: 10px;
}
  
@media screen and (max-width: 768px) {
    .for-whom__button {
        max-width: 120px;
        padding: 10px 12px;
        font-size: 16px;
        line-height: 1.5;
    }
}

@media screen and (max-width: 460px) {
    .for-whom__button {
        max-width: 108px;
        padding: 10px 14px;
        font-size: 14px;
        line-height: 1.8;
    }
}