.everland__image-two {
  z-index: 1;
  max-width: 392px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin: -100px 54px 0;
}

@media screen and (max-width: 990px) {
  .everland__image-two {
  max-width: 170px;
  top: 80px;
  right: 60px;
  }
}

@media screen and (max-width: 740px) {
  .everland__image-two {
    max-width: 170px;
    margin: -100px 100px 0 -30px;
  }
}
