.for-whom__button-icon_color_blue {
    background-image: url('../../../../images/Icon/arrow_forward_blue.svg');
}

.for-whom__button_color_blue:hover .for-whom__button-icon_color_blue {
    background-image: url('../../../../images/Icon/arrow_forward_white.svg');
}

.for-whom__button_color_blue:active .for-whom__button-icon_color_blue {
    background-image: url('../../../../images/Icon/arrow_forward_white.svg');
}

.for-whom__button_color_blue:disabled .for-whom__button-icon_color_blue {
    background-image: url('../../../../images/Icon/arrow_forward_color_disabled.svg');
}
