.projects {
  background-color: #e7f0ff;
  border-radius: 30px;
  margin: 0 40px;
  padding: 30px;
  display: grid;
  align-items: end;
  grid-template-areas:
    "projects__description . projects__image projects__image"
    "projects__heading . projects__image projects__image"
    "projects__text . projects__image projects__image"
    "projects__link projects__buttons projects__image projects__image";
}

@media screen and (max-width: 1308px) {
  .projects {
    grid-template-areas:
      "projects__description projects__description projects__image projects__image projects__image"
      "projects__heading projects__heading projects__image projects__image projects__image"
      "projects__text projects__text projects__image projects__image projects__image"
      "projects__link projects__buttons  projects__image projects__image projects__image";
  }
}

@media screen and (max-width: 811px) {
  .projects {
    grid-template-areas:
      "projects__description . projects__image"
      "projects__heading projects__heading projects__image"
      "projects__text projects__text projects__image"
      "projects__link projects__buttons projects__image";
  }
}

@media screen and (max-width: 730px) {
  .projects {
    margin: 0 20px;
    grid-template-areas:
      "projects__description projects__buttons"
      "projects__image projects__image"
      "projects__heading projects__heading"
      "projects__text projects__text"
      "projects__link projects__link";
  }
}

@media screen and (max-width: 320px) {
  .projects {
    margin: 0 10px;
    padding: 24px 25px;
    border-radius: 20px;
    grid-template-areas:
      "projects__description projects__buttons"
      "projects__image projects__image"
      "projects__heading projects__heading"
      "projects__text projects__text"
      "projects__link projects__link";
  }
}
