.directions__title {
    max-width: min(100%, 1360px);
    min-width: 300px;
    margin: 100px auto 0px;
    padding: 0 20px 0;
    font-size: 64px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -1px;
}
    
@media screen and (max-width: 768px) {
    .directions__title {
        margin: 50px auto 0px;
        font-size: 36px;
    }
}
    
@media screen and (max-width: 460px) {
    .directions__title {
        margin: 32px auto 0px;
        font-size: 26px;
    }
}