.menu__arrow {
  display: none;
}
@media screen and (max-width: 740px) {

body._touch .menu__arrow {
  display: block;
  transition: transform .3s ease 0s;
  background: url("../../../images/icon/Icon_shevron.svg") center no-repeat;
  width: 10px;
  height: 10px;
}
}
