.for-whom__button_color_orange {
    background-color: #FEEFEA;
    color: #E98509;
}

.for-whom__button_color_orange:hover {
    background-color: #E98509;
    color: #FFF;
  }

.for-whom__button_color_orange:active {
    background-color: #864A00;
    color: #FFF;
}

.for-whom__button_color_orange:disabled {
    background-color: #C4C4C4;
    color: #262626;
}