.for-whom__button_color_green {
    background-color: #DAEFD5;
    color: #319B17;
}

.for-whom__button_color_green:hover {
    background-color: #319B17;
    color: #FFF;
  }

.for-whom__button_color_green:active {
    background-color: #0E4900;
    color: #FFF;
}

.for-whom__button_color_green:disabled {
    background-color: #C4C4C4;
    color: #262626;
}