.button {
  padding: 12px 24px;
  color: #0C4BA0;
  background-color: transparent;
  border: 1px solid #0C4BA0;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 auto;
}

.button:hover {
  color: #00275C;
  border-color: #00275C;
}

.button:active {
  color: #fff;
  background-color: #00275C;
}

@media screen and (max-width: 1000px) {
  .button {
    font-size: 16px;
    line-height: 19.2px; 
    padding: 12px 37px;
  }
}

@media screen and (max-width: 690px) {
  .button {
    font-size: 14px;
    line-height: 16.8px;
    padding: 12px 0;
    width: 100%;
  }
}