.stories__box-person {
  display: flex;
  flex-direction: row;
  padding: 51px 0;
}

@media screen and (max-width: 768px) {
  .stories__box-person {
    flex-direction: column;
    padding: 36px 0 33.5px 0;
  }
}

@media screen and (max-width: 768px) {
  .stories__box-person:first-child {
    padding: 0 0 37.5px 0;
  }
}

@media screen and (max-width: 320px) {
  .stories__box-person {
    padding: 13px 0 0 0;
  }
}
