.card__date_news {
  font-size: 18px;
  line-height: 130%;
  color: rgba(38, 38, 38, 0.5);
}

@media screen and (max-width: 1000px) {
  .card__date_news {
    font-size: 14px;
    line-height: 16.8px;
  }
}

@media screen and (max-width: 500px) {
  .card__date_news {
    font-size: 12px;
    line-height: 14.4px;
  }
}